{% extends 'main.html' %}
{% block content %}

    <h4>Recommendations based on query: </h4>
    <h5>{{ query }}</h5>

    <p>Our recommendation system is based on the top authors of yor selected query and the results</p>

    <h4>Top Authors</h4>
    <ul>
        {% for author in authors %}
            <li>{{ author }}</li>
        {% endfor %}
    </ul>


    {% if page_obj.paginator.count == 0 %}
        <h1>No Results Found</h1>
    {% else %}

    {% for document in page_obj %}
    <ul>
     <li>{{ document }}</li>
    </ul>
    {% endfor %}
    </div>

        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    {% endif %}


{% endblock %}
