{% extends 'main.html' %}

{% block content %}
    
    <div class="search_bar">
    <form action="/search/" method="post">
        {% csrf_token %}
            <i class="uil uil-search"></i>
        <div class="row">
            <input type="text" name="search" placeholder="Enter Your Search" required>
{#            drop down input #}
            <select name="model" required>
                <option value="boolean">Boolean</option>
                <option value="fuzzy">Fuzzy Boolean Model</option>
            </select>
            <button type="submit">Search</button>
        </div>
        </form>
    
    </div>
    
    <div class="results">
    

    {% if page_obj.paginator.count == 0 %}
        <h1>No Results Found</h1>
    {% else %}
    
    {% for document in page_obj %}
    <ul>
     <li>Title: {{ document.title }}
        <br>
        <a href="{{ document.url }}" target="_blank">See On Goodreads</a>
        <br>
         Description: {{ document.content }}
     </li>
    </ul>
    {% endfor %}
    </div>
        
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    {% endif %}


    
{% endblock %}
