.menu{
    background-color: lightpink;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.menu:hover{
    background-color: lightcoral;
}

.menu a{
    text-decoration: underline;
    color: black;
    margin: 1% 2%;
    transition: 0.2s;
}

.menu a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-bottom: 10px;
}

.search_bar input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 100%;
    margin: 10px;
    transition: 0.3s;

}

.search_bar input:focus{
    transition: 0.3s;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.search_bar select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 10px;
    width: 70%;
}

.search_bar select option{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 10px;
    width: 70%;
    font-size: 14px;
/*    more space between each of the options */
    letter-spacing: 1px;

}

.search_bar button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightpink;
    background-color: lightpink;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 20%
}

.search_bar button:hover{
    background-color: lightcoral;
    color: white;
}

.results {
    display: grid;
    justify-content: center;
    align-items: center;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}

.pagination a{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pagination a:hover{
    background-color: lightpink;
}



.pagination a:visited{
    text-decoration: none;
    color: black;
}

.pagination a:active{
    text-decoration: none;
    color: black;
}

.pagination a:focus{
    text-decoration: none;
    color: black;
}

.pagination a{
    text-decoration: none;
    color: black;

}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}



.results a{
    text-decoration: underline;
    color: deeppink;
    transition: 0.1s;
}

.results a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
    color: lightcoral;
}

.results p{
    margin-left: 10px;

    width: 100%;
    text-align: left;

}
